---
---

/* ==========================================================================
	FRAMEWORK
   ========================================================================== */

@import "vendor/bootstrap";
@import "vendor/syntax";

/* ==========================================================================
	READERS DIGEST version of the PMD Bootstrap facade
   ========================================================================== */

.pmd_wrapper{ @extend .container; }
.pmd_row{ @extend .row; }
.pmd_box_full{ @extend .col-md-12; }
.pmd_box_has_sidebar{ @extend .col-md-9; }
.pmd_box_sidebar{ @extend .col-md-3; }
.pmd_box_half{@extend .col-md-6;}

/* ==========================================================================
	DOCUMENTATION STYLES
   ========================================================================== */

body{
	background: #fafafa;
	font-family: Helvetica;
	font-size: 16px;
	line-height: 1.6em;
}

main {
	background: #fff;
	padding: 48px 0;
}

p { margin-bottom: 1.3em; }

h1, h2, h3, h4 {
	font-weight: inherit;
	line-height: 1.2;
	// margin-top:48px;
}

h1 {
	margin-top: 0;
	font-size: 2.827em;
}

h2 {font-size: 1.999em; }
h3 {font-size: 1.414em; }
h4 {font-weight: bold;}

header, footer {
	padding: 24px 0;
	h1 {
		font-size: 1em;
		font-weight: bold;
		a { color: black !important; }
	}
	ul {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		text-align:center;
	}
	li {
		display: inline;
		margin-right: 2em;
		text-transform: uppercase;
	}
}

.pmd_box_sidebar{
	padding-bottom: 48px;
	ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		padding-left: 1em;
		text-indent:-1em;
		margin-bottom: 0.5em;
	}
	h4 {
		text-transform: uppercase;
	}
}

code, pre code, pre{
	background: rgba(255, 250, 205, 0.4);
	border:0;
	color: #000;
}

.terminal-wrapper {
	width:100%;
	overflow-x: auto;
	height: auto;
	padding: 12px;
	background: #222;
	color: #6f0;
	font-family: inconsolata, monospace;
	font-size: 0.9em;
	line-height: 1em;
	margin-bottom: 1em;
}

.terminal-inner {
	width: auto;
	white-space: pre;
}

table {
	border-collapse: collapse;
	margin: 24px 0;
	width: 100%;
}

th, td{
	font-size: 1em;
	padding: 8px;
	text-align: left;
	vertical-align: top;
	border: 1px solid #f2f2f2;
}

thead, th {
	font-weight: normal;
	background: #fafafa;
}

img {
	max-width:100%;
}

#go {
	margin: 24px auto;
	text-align:center;
	padding:12px 24px 8px 24px;
/*	border-radius: 10px; */
	background: #7d271b;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	line-height:24px;
	/*border: 2px solid white;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);*/
	small {
		display: block;
		font-size: 10px;
		line-height: 24px;
	}
}

#go:hover{
	text-decoration: none;
	background: #a73424;
}

.logos img {
	box-sizing: initial;
	padding: 10px;
}
